@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="nav2">
    <ul>
        <li><a href=" What'New  |"> What'New |</a></li>
        <li><a href=" Full Feature List  |"> Full Feature List |</a></li>
        <li><a href=" Previous Changes  |"> Previous Changes |</a></li>
        <li><a href=" Hotfix">Hotfix</a> </li>

    </ul>
</div>

<div class="search_div">
    <input type="text" name="search" id="search" placeholder="Search" class="search">
    <button class="searchbtn">Search</button>
</div>



<main>

    <div class="whatis">
        <h1>What is <span>UltraEdit?</span></h1>
    </div>

    <div class="definition">
        <h3>
            UltraEdit is the most flexible, powerful, and secure text editor.
            Download a free, full-feature trial to see why. Available for Windows, Mac, and Linux.
        </h3>
    </div>

    <div class="cards">

        <div class="card_windows">

            <div class="windows_top">
                <img src="~/images/windows_icon.png" height="30">

                <div class="div_download_btn_card_windows">
                        <strong>Ultra</strong>Edit  <P> for Win</P>
                    </div>

             

            </div>
            <div class="download">
                <button>
                    <a href="/WinFile">Download</a>
                </button>
            </div>


        </div>

        <div class="card_apple">

            <div class="windows_top">
                <img src="~/images/mac-os-logo_2235.png" height="30">
                <div class="div_download_btn_card_windows">
                    <strong>Ultra</strong>Edit  <P> for Mac</P>
                </div>

            </div>
            <div class="download">
                <button>
                    <a href="/WinFile">Download</a>
                </button>
            </div>


        </div>

        <div class="card_linux">

            <div class="windows_top">
                <img src="~/images/linux-22621.png" height="40">
                <div class="div_download_btn_card_linux">
                    <strong>Ultra</strong>Edit  <P> for Linux</P>
                </div>

            </div>
            <div class="download">
                <button>
                    <a href="/WinFile">Download</a>
                </button>
            </div>


        </div>

    </div>


    <div class="tool_main">
        <div class="tool_main_title">
            <h2>What can you use <strong>Ultra</strong>Edit for</h2>
        </div>

        <div class="tools">


            <div class="text_code tool">
                <a href="textcoding.html"><img src="~/images/Text-code editing.png" alt=""></a>
                <div> <a href="textcoding.html">Text/code <br> editing</a></div>
            </div>
            <div class="web_development tool">
                <a href="web.html"><img src="~/images/Web development.png" alt=""></a>
                <div><a href="web.html">web <br> development</a></div>
            </div>
            <div class="system_administration tool">
                <a href="system.html"><img src="~/images/System Administration.png" alt=""></a>
                <div><a href="system.html">System <br> Administration</a></div>
            </div>
            <div class="power_performence tool">
                <a href="power.html"><img src="~/images/Power and performance.png" alt=""></a>
                <div>   <a href="power.html">Power and <br> performance</a></div>
            </div>
            <div class="Programming_development tool">
                <a href="programming.html"><img src="~/images/Programming - Development.png" alt=""></a>
                <div> <a href="programming.html">Programming/ <br> Development</a></div>
            </div>
            <div class="File_compare tool">
                <a href="file_compare.html"><img src="~/images/File compare.png" alt=""></a>
                <div><a href="file_compare.html">File <br> compare</a></div>
            </div>

        </div>

    </div>



</main>