@page
@model UltraEdit2.Pages.WinFileModel
@{
}



<main>
    <div class="head">
        <h1>Download <strong>UltraEdit</strong> for Windows</h1>
        <img src="./Ultraedit_rateus.webp" height="30" alt="">

    </div>

    <div class="h_content">
        <h3>
            Download and try UltraEdit before you buy it! This download includes the full Windows version of the
            text editor.
        </h3>
    </div>

    <div class="download_top">
        <a href="ue_english.exe"> <button>Download Mac or Linux version</button> </a>
    </div>

    <div class="UE_full">
        <div class="UE">  </div>
        <div class="UE_content">
            <h2>Download UltraEdit </h2>
            <p>v2023.2(released 12/15/2023) | <a href="Hotflix.html">Hotfix</a></p>
        </div>
    </div>

    <div class="main_downloadlist">

        <div class="download1">

            <div class="language">
                English
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                Deutsch <br> <span>German</span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                Italiano <br> <span>Italian</span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                Español <br> <span>Spanish</span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                français <br> <span>French</span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                Português brasileiro
                <br> <span>Brazilian Portuguese </span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                日本

                <br> <span> Japanese </span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                한국어

                <br> <span>Korean </span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                中国

                <br> <span>Chinese </span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>
        <div class="download1">

            <div class="language">
                中國


                <br> <span>Traditional Chinese</span>
            </div>

            <div class="bit32">
                <a href="./ue_english.exe">download 32-bits</a>
            </div>
            <div class="bit64"><a href="./ue_english.exe">download 64-bits</a></div>

        </div>




    </div>

</main>